*.o
*.swp
*.swo
*~
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
doc/eio.dox
eio.pc
eio.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/eio_dir.lo
src/lib/eio_file.lo
src/lib/eio_inotify.lo
src/lib/eio_main.lo
src/lib/eio_map.lo
src/lib/eio_monitor.lo
src/lib/eio_poll.lo
src/lib/eio_single.lo
src/lib/eio_xattr.lo
src/lib/libeio.la
src/lib/eio_eet.lo
src/lib/eio_monitor_inotify.lo
src/lib/eio_monitor_poll.lo
stamp-h1
