*.o
*.swp
*.swo
*~
*.lo
*.la
.deps
.libs
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
doc/eio.dox
eio.pc
eio.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/lib/Makefile
src/lib/Makefile.in
stamp-h1
