Source: ecore
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>> 4.0.0), cdbs (>= 0.4.3-1.1), automake1.7 | automaken, libtool, libeet0-dev, libevas0-dev, libssl-dev, libcurl3-dev, libxcursor-dev, libxss-dev | xlibs-static-dev, libc6-dev | libc-dev, libx11-dev, libxrender-dev, libxinerama-dev, libxrandr-dev, libxext-dev, x-dev, libxp-dev, libfreetype6-dev, libjpeg62-dev
Standards-Version: 3.6.1.0

Package: libecore0
Architecture: any
Section: libs
Provides: libecore
Depends: ${shlibs:Depends}
Description: Core abstraction layer for enlightenment DR 0.17
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 
Package: libecore0-con
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libssl0.9.8, libcurl3
Description: Ecore Connection Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore Connection Library.
 
Package: libecore0-config
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libevas0, libeet0
Description: Ecore Enlightened Property Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Enlightened Property Library.
 
Package: libecore0-dbus
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libecore0-con
Description: Ecore DBus Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore DBus Library.
 
Package: libecore0-evas
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libecore0-fb, libecore0-x, libecore0-txt, libecore0-job, libevas0, libx11-6, libxext6
Description: Ecore Evas Wrapper Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore Evas wrapper functions.
 
Package: libecore0-fb
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version})
Description: Ecore frame buffer system functions
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore frame buffer system functions.
 
Package: libecore0-file
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libcurl3, libfam0 | libfam0c102 | libgamin0
Description: Ecore File Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore File Library.
 
Package: libecore0-ipc
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libecore0-con
Description: Ecore inter-process communication functions
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore inter-process communication functions.
 
Package: libecore0-job
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version})
Description: Ecore job dealing functions
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains functions for dealing with Ecore jobs.
 
Package: libecore0-txt
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version})
Description: Ecore text encoding conversion functions
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore text encoding conversion functions.
 
Package: libecore0-x
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version}), libecore0-job, libecore0-txt, libx11-6, libxrandr2, libxrender1 (>= 1:0.9.0.2), libxcursor1 (>> 1.1.2), libxinerama1, libxp6, libxext6, libxss1
Description: Ecore functions for dealing with the X Windows System
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 This package contains the Ecore wrapper and convenience functions for using
 the X Windows System.
 
Package: libecore0-dev
Architecture: any
Section: devel
Architecture: any
Depends: libecore0 (= ${Source-Version}), libc6-dev | libc-dev, libevas0-dev, libecore0-con, libecore0-config, libecore0-dbus, libecore0-evas, libecore0-fb, libecore0-file, libecore0-ipc, libecore0-job, libecore0-txt, libecore0-x, libcurl3-dev, libxcursor-dev
Provides: libecore-dev
Conflicts: libecore-dev
Description: libecore0 headers, static libraries and documentation
 Headers, static libraries and documentation for the Ecore library.

Package: ecore0-bin
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore0 (= ${Source-Version})
Provides: ecore-bin
Conflicts: ecore0-test
Description: Tools that support libecore.
 The package includes:
  - ecore_config: allows creation/editing of ecore_config databases
  - ecore_evas_test: test evas support.
  - ecore_test: test ecore features.

