#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

#DEB_INSTALL_MANPAGES_libecore-doc := $(DEB_SRCDIR)/doc/man/man3/*.3
DEB_INSTALL_MANPAGES_libecore-bin := debian/ecore_config.1
DEB_DH_STRIP_ARGS := --dbg-package=libecore-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --enable-ecore-fb --disable-ecore-directfb \
	--disable-ecore-evas-dfb --enable-ecore-evas-fb --disable-rpath \
	--enable-openssl
DEB_MAKE_CLEAN_TARGET := clean

build/libecore-doc::
	cd $(DEB_SRCDIR) && doxygen

install/libecore-doc::
	mkdir -p debian/libecore-doc/usr/share/doc/libecore-doc/
	cp -R $(DEB_SRCDIR)/doc/html debian/libecore-doc/usr/share/doc/libecore-doc/
	cd $(DEB_SRCDIR)/doc/man/man3 && ls -1 | grep -vi ecore | xargs rm

clean::
	rm -rf $(DEB_SRCDIR)/doc/html $(DEB_SRCDIR)/doc/latex $(DEB_SRCDIR)/doc/man
	mkdir -p $(DEB_SRCDIR)/doc/html
	cp $(DEB_SRCDIR)/doc/img/*.png $(DEB_SRCDIR)/doc/html/
	cp $(DEB_SRCDIR)/doc/img/*.gif $(DEB_SRCDIR)/doc/html/
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS) 

