Source: edje
Section: libs
Priority: optional
Maintainer: Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Uploaders: Albin Tonnerre <albin.tonnerre@gmail.com>,
 Xavier Oswald <x.oswald@free.fr>, Jan Lübbe <jluebbe@debian.org>
Build-Depends: debhelper (>= 6), cdbs, quilt, libeet-dev, libevas-dev (>= 0.9.9.060+svnYYYYMMDD),
 libecore-dev (>= 0.9.9.060+svnYYYYMMDD), libembryo-dev, libeina-dev (>= 0.0.2.060+svnYYYYMMDD), doxygen
Standards-Version: 3.8.1
Homepage: http://enlightenment.org

Package: libedje-bin
Architecture: any
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends}, libembryo-bin (>= 0.9.9.060+svnYYYYMMDD), libevas-engines
Description: Various binaries for use with libedje
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package contains the following binaries:
  - edje_cc: Compiles EDC files.
  - edje_decc: Used to decompile compiled edje files.
  - edje_recc: A convenience script to recompile EDC files.

Package: libedje-svn-01
Conflicts: libedje0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libedje-bin (= ${binary:Version})
Description: Graphical layout and animation library
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.

Package: libedje-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Enhances: libedje-dev
Description: libedje0 development documentation
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package provides development documentation for Edje.

Package: libedje-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libedje-svn-01 (= ${binary:Version}), libeet-dev, libembryo-dev,
 libevas-dev (>= 0.9.9.060+svnYYYYMMDD), libecore-dev (>= 0.9.9.060+svnYYYYMMDD), libeina-dev (>= 0.0.2.060+svnYYYYMMDD), pkg-config
Description: libedje headers and static libraries
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package provides headers and static libraries for Edje.

Package: libedje-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, libedje-svn-01 (= ${binary:Version})
Description: Debugging symbols for libedje
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.
