#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
DEB_DH_STRIP_ARGS := --dbg-package=libedje-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
DEB_SOURCE_VERSION := $(shell grep AC_INIT $(DEB_SRCDIR)/configure.ac|sed -e 's/AC_INIT(\[edje\],\ \[\(.*\)\],\ \[.*@.*\])/\1/g')

build/libedje-doc::
	cd $(DEB_SRCDIR)/doc && make doc

install/libedje-doc::
	tar jxf edje-*-doc.tar.bz2 -C $(DEB_SRCDIR)
	cp -R $(DEB_SRCDIR)/edje-$(DEB_SOURCE_VERSION)-doc/doc/html debian/libedje-doc/usr/share/doc/libedje-doc/
	rm -rf $(DEB_SRCDIR)/edje-$(DEB_SOURCE_VERSION)-doc/

clean::
	[ ! -f Makefile ] || make distclean
