#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

#DEB_INSTALL_MANPAGES_libedje-doc := $(DEB_SRCDIR)/doc/man/man3/*.3
DEB_DH_STRIP_ARGS := --dbg-package=libedje-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath

build/libedje-doc::
	cd $(DEB_SRCDIR) && doxygen

install/libedje-doc::
	cp -R $(DEB_SRCDIR)/doc/html debian/libedje-doc/usr/share/doc/libedje-doc/

clean::
	rm -rf $(DEB_SRCDIR)/doc/html $(DEB_SRCDIR)/doc/latex $(DEB_SRCDIR)/doc/man
	mkdir -p $(DEB_SRCDIR)/doc/html
	cp $(DEB_SRCDIR)/doc/img/*.png $(DEB_SRCDIR)/doc/html/
	cp $(DEB_SRCDIR)/doc/img/*.gif $(DEB_SRCDIR)/doc/html/
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)
