*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
config.*
/aclocal.m4
/autom4te.cache
/compile
/configure
/depcomp
/eeze.pc
/eeze.spec
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/doc/eeze.dox
/ABOUT-NLS
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/bin/eeze_udev_test
/doc/Doxyfile
src/bin/eeze_disk_ls
src/bin/eeze_mount
src/bin/eeze_scanner
src/bin/eeze_umount

