*~
*.o
*.swp
*.swo
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
Makefile
Makefile.in
.deps
stamp-h1
src/bin/gst/evas_image_loader.gst
src/bin/pdf/evas_image_loader.pdf
src/bin/ps/evas_image_loader.ps
src/bin/svg/evas_image_loader.svg
src/bin/xcf/evas_image_loader.xcf
src/bin/raw/evas_image_loader.raw
pkgbuild/PKGBUILD
pkgbuild/pkg
pkgbuild/src
pkgbuild/*.tar.xz
