*~
*.o
*.swp
*.swo
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/frames/Makefile
data/frames/Makefile.in
data/frames/default.edj
depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
ethumb.pc
ethumb.spec
ethumb_client.pc
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
org.enlightenment.Ethumb.service
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/ethumb
src/bin/ethumbd
src/bin/ethumbd_client
src/bin/ethumbd_slave
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/client/.deps/
src/lib/client/.libs/
src/lib/client/Makefile
src/lib/client/Makefile.in
src/lib/client/ethumb_client.lo
src/lib/client/libethumb_client.la
src/lib/ethumb.lo
src/lib/libethumb.la
src/lib/md5.lo
src/plugins/Makefile
src/plugins/Makefile.in
src/plugins/emotion/.deps/
src/plugins/emotion/.libs/
src/plugins/emotion/Makefile
src/plugins/emotion/Makefile.in
src/plugins/emotion/emotion.la
src/plugins/emotion/emotion_la-emotion.lo
src/plugins/emotion/emotion_template.edj
src/plugins/epdf/.deps/
src/plugins/epdf/.libs/
src/plugins/epdf/Makefile
src/plugins/epdf/Makefile.in
src/plugins/epdf/epdf.la
src/plugins/epdf/epdf_la-epdf.lo
src/tests/.deps/
src/tests/Makefile
src/tests/Makefile.in
stamp-h1
