*~
*swp
*swo
Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.a
*.la
/stamp-h1
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Doxyfile
/install-sh
/libtool
/ltmain.sh
/compile
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/pc/eet.pc
/pc/eina.pc
/pc/eo.pc
/pc/evil.pc
/pc/embryo.pc
/pc/evas-direct3d.pc
/pc/evas-directfb.pc
/pc/evas-fb.pc
/pc/evas-opengl-cocoa.pc
/pc/evas-opengl-sdl.pc
/pc/evas-opengl-x11.pc
/pc/evas-psl1ght.pc
/pc/evas-software-buffer.pc
/pc/evas-software-ddraw.pc
/pc/evas-software-gdi.pc
/pc/evas-software-sdl.pc
/pc/evas-software-x11.pc
/pc/evas-wayland-egl.pc
/pc/evas-wayland-shm.pc
/pc/evas.pc
/spec/efl.spec
/src/bin/eet/eet
/src/bin/embryo/embryo_cc
/src/bin/evas/dummy_slave
/src/bin/evas/evas_cserve2
/src/bin/evas/evas_cserve2_client
/src/bin/evas/evas_cserve2_debug
/src/bin/evas/evas_cserve2_slave
/src/bin/evas/evas_cserve2_usage
/src/lib/eina/eina_config.h
/INSTALL
src/bin/eet/.dirstamp
src/bin/embryo/.dirstamp
src/bin/evas/.dirstamp
src/bin/evas/loaders/bmp/.dirstamp
src/bin/evas/loaders/eet/.dirstamp
src/bin/evas/loaders/ico/.dirstamp
src/bin/evas/loaders/jpeg/.dirstamp
src/bin/evas/loaders/pmaps/.dirstamp
src/bin/evas/loaders/png/.dirstamp
src/bin/evas/loaders/psd/.dirstamp
src/bin/evas/loaders/tga/.dirstamp
src/bin/evas/loaders/tiff/.dirstamp
src/bin/evas/loaders/wbmp/.dirstamp
src/bin/evas/loaders/xpm/.dirstamp
src/lib/eet/.dirstamp
src/lib/eina/.dirstamp
src/lib/embryo/.dirstamp
src/lib/eo/.dirstamp
src/lib/evas/.dirstamp
src/lib/evas/cache/.dirstamp
src/lib/evas/cache2/.dirstamp
src/lib/evas/canvas/.dirstamp
src/lib/evas/common/.dirstamp
src/lib/evas/common/evas_op_blend/.dirstamp
src/lib/evas/common/language/.dirstamp
src/lib/evas/cserve2/.dirstamp
src/lib/evas/file/.dirstamp
src/modules/eina/mp/chained_pool/.dirstamp
src/modules/eina/mp/one_big/.dirstamp
src/modules/eina/mp/pass_through/.dirstamp
src/modules/evas/engines/buffer/.dirstamp
src/modules/evas/engines/fb/.dirstamp
src/modules/evas/engines/gl_common/.dirstamp
src/modules/evas/engines/gl_x11/.dirstamp
src/modules/evas/engines/software_generic/.dirstamp
src/modules/evas/engines/software_x11/.dirstamp
src/modules/evas/engines/wayland_shm/.dirstamp
src/modules/evas/loaders/bmp/.dirstamp
src/modules/evas/loaders/eet/.dirstamp
src/modules/evas/loaders/generic/.dirstamp
src/modules/evas/loaders/ico/.dirstamp
src/modules/evas/loaders/jpeg/.dirstamp
src/modules/evas/loaders/pmaps/.dirstamp
src/modules/evas/loaders/png/.dirstamp
src/modules/evas/loaders/psd/.dirstamp
src/modules/evas/loaders/tga/.dirstamp
src/modules/evas/loaders/tiff/.dirstamp
src/modules/evas/loaders/wbmp/.dirstamp
src/modules/evas/loaders/xpm/.dirstamp
src/modules/evas/savers/eet/.dirstamp
src/modules/evas/savers/png/.dirstamp
src/modules/evas/savers/tiff/.dirstamp
src/static_libs/liblinebreak/.dirstamp
src/static_libs/lz4/.dirstamp
