#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
*.edj
*~
*swp
*swo
*.gmo
Makefile
Makefile.in
tags
.clang_complete
.DS_Store
.deps
.libs
*.trs
*.log
*.core
*.exe
*.o
*.lo
*.a
*.la
*.gcno
*.gcda
*.dirstamp
*.eo.c
*.eo.h
*.eot.h
*.eo.legacy.h
*.eo.legacy.c
*.eo.hh
*.eo.impl.hh
*.eo.js.cc
*.eo.cs
*.eot.cs
*.eo.lua
*.luac
*.pyc
__pycache__
.dir-locals.el
/efl-*-doc.tar.bz2
/ar-lib
/stamp-h1
/aclocal.m4
/autom4te.cache/
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Doxyfile
/doc/html
/doc/latex
/doc/man
/doc/previews/preview_text_filter
/doc/previews/img
/install-sh
/libtool
/ltmain.sh
/compile
/test-driver
/missing
/INSTALL
/ABOUT-NLS
/config.rpath
/coverage
/src/lib/ecore_x/ecore_x_vsync
Session.vim
/elm_intro.h
/src/modules/evas/engines/gl_common/shader_3d/evas_3d_shaders.x
/src/scripts/eo/eo_debug
/src/bin/ecore_con/efl_net_proxy_helper
/src/bin/efl_wl/efl_wl_test
/src/bin/efl_wl/efl_wl_test_stack

#wayland generated protocol - some legacy headers will be ignored
*-protocol.h
*-protocol.c

/build
.cproject
.project
/.settings/
efl_libs.csv
.vscode/
