*~
*swp
*swo
*.gmo
Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.a
*.la
*.gcno
*.dirstamp
/stamp-h1
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Doxyfile
/install-sh
/libtool
/ltmain.sh
/compile
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/pc/eet.pc
/pc/eina.pc
/pc/eo.pc
/pc/evil.pc
/pc/embryo.pc
/pc/evas-direct3d.pc
/pc/evas-fb.pc
/pc/evas-opengl-cocoa.pc
/pc/evas-opengl-sdl.pc
/pc/evas-opengl-x11.pc
/pc/evas-psl1ght.pc
/pc/evas-software-buffer.pc
/pc/evas-software-ddraw.pc
/pc/evas-software-gdi.pc
/pc/evas-software-sdl.pc
/pc/evas-software-x11.pc
/pc/evas-wayland-egl.pc
/pc/evas-wayland-shm.pc
/pc/evas.pc
/spec/efl.spec
/src/bin/eet/eet
/src/bin/embryo/embryo_cc
/src/bin/evas/dummy_slave
/src/bin/evas/evas_cserve2
/src/bin/evas/evas_cserve2_client
/src/bin/evas/evas_cserve2_debug
/src/bin/evas/evas_cserve2_slave
/src/bin/evas/evas_cserve2_usage
/src/lib/eina/eina_config.h
/INSTALL
ABOUT-NLS
config.rpath
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
pc/ecore-cocoa.pc
pc/ecore-con.pc
pc/ecore-evas.pc
pc/ecore-fb.pc
pc/ecore-file.pc
pc/ecore-imf-evas.pc
pc/ecore-imf.pc
pc/ecore-input-evas.pc
pc/ecore-input.pc
pc/ecore-ipc.pc
pc/ecore-psl1ght.pc
pc/ecore-sdl.pc
pc/ecore-wayland.pc
pc/ecore-win32.pc
pc/ecore-wince.pc
pc/ecore-x.pc
pc/ecore.pc
pc/escape.pc
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin

