Source: evas
Section: libs
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: debhelper (>> 3.0.0), libedb1-dev, libeet0-dev, libfreetype6-dev, libpng12-0-dev | libpng-dev, xlibs-dev, zlib1g-dev | libz-dev, libjpeg62-dev, automaken, libtool
Standards-Version: 3.5.7.0

Package: libevas0-dev
Section: devel
Architecture: any
Depends: libevas0 (= ${Source-Version})
Conflicts: libevas0-dev,
Provides: libevas0-dev,
Description: enlightenment advanced canvas library development files
 This package provides headers and static libraries required to develop against
 evas.
 .
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 This new version of evas is much more cleaner, compact and portable; and has
 Ipaq support. The Ipaq version of the library is just 191Kb in size!
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 Install evas if you want to develop applications against the only
 hardware-accelerated canvas library, or if you want to try out the
 applications under development.

Package: libevas0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: enlightenment advanced canvas library
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 This new version of evas is much more cleaner, compact and portable; and has
 Ipaq support. The Ipaq version of the library is just 191Kb in size!
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 Install evas if you want to develop applications against the only
 hardware-accelerated canvas library, or if you want to try out the
 applications under development.

Package: evas-test
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Description: test programs for evas
 This package provides test programs packaged with evas.
 .
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 This new version of evas is much more cleaner, compact and portable; and has
 Ipaq support. The Ipaq version of the library is just 191Kb in size!
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 Install evas if you want to develop applications against the only
 hardware-accelerated canvas library, or if you want to try out the
 applications under development.
