#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

cfg:=--prefix=/usr --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)


CFLAGS ?= -Wall -g
CFLAGS += -I/usr/include/freetype2 -include /usr/include/png.h -include /usr/include/freetype2/freetype/internal/ftobjs.h
ifeq (opengl,$(EVAS_TARGET))
	cfg += --enable-gl-x11 --enable-image-loader-png --enable-image-loader-jpeg --enable-image-loader-edb --enable-image-loader-eet --enable-cpu-p2-only --enable-cpu-mmx --enable-cpu-sse --enable-cpu-c --enable-scale-smooth --enable-scale-sample
else
	cfg += --enable-software-x11 --enable-image-loader-png --enable-image-loader-jpeg --enable-image-loader-eet --enable-image-loader-edb --enable-fmemopen --enable-cpu-p2-only --enable-cpu-mmx --enable-cpu-sse --enable-cpu-c --enable-scale-smooth --enable-scale-sample --enable-convert-8-rgb-332 --enable-convert-8-rgb-666 --enable-convert-8-rgb-232 --enable-convert-8-rgb-222 --enable-convert-8-rgb-221 --enable-convert-8-rgb-121 --enable-convert-8-rgb-111 --enable-convert-16-rgb-565 --enable-convert-16-rgb-555 --enable-convert-16-rgb-rot-0 --enable-convert-32-rgb-8888 --enable-convert-32-rgbx-8888 --enable-convert-32-bgr-8888 --enable-convert-32-bgrx-8888 --enable-convert-32-rgb-rot-0 --disable-directfb
endif
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
ifneq (,$(EVAS_ARCH))
	CFLAGS += -O3 -mcpu=$(EVAS_ARCH) -march=$(EVAS_ARCH)
else
ifneq (,$(findstring -march,$(CFLAGS)))
	CFLAGS += -O3
else
	CFLAGS += -O3 -mcpu=pentiumpro
endif
endif
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif
export CFLAGS

configure: configure-stamp
configure-stamp:
	dh_testdir
	test -x autogen.sh && ./autogen.sh $(cfg) || ./configure $(cfg)
	touch configure-stamp


build: configure build-stamp
build-stamp:
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	-$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp


binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles

	dh_installdocs README
	dh_installman
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
