[Desktop Entry]
Type=Application
Name=Efreet Test Application
GenericName=Test Application
Exec=efreet_test %F %i
Categories=Test;Enlightenment;
Icon=TestIcon
X-Test=Own key
