/Makefile.in.in
/Makevars.template
/POTFILES
/Rules-quot
/boldquot.sed
/elementary.pot
/en@boldquot.header
/en@quot.header
/insert-header.sin
/quot.sed
/remove-potcdate.sed
/remove-potcdate.sin
/stamp-po
