/emotion/vlc/vlc
/evas/pdf/evas_image_loader.pdf
/evas/ps/evas_image_loader.ps
/evas/raw/evas_image_loader.raw
/evas/xcf/evas_image_loader.xcf
/evas/svg/evas_image_loader.svg
/evas/gst/evas_image_loader.gst
