*.o
*.lo
*.la
.deps
.libs
ABOUT-NLS
Makefile
Makefile.in
/aclocal.m4
autom4te.cache/
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
/doc/efreet_doxy_warnings.txt
/doc/html/
/doc/latex/
/efreet-mime.pc
/efreet-trash.pc
/efreet.pc
/efreet.spec
/install-sh
/libtool
/ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
/missing
src/bin/efreet_desktop_cache_create
src/bin/efreet_icon_cache_create
src/tests/compare/efreet_alloc
src/tests/compare/efreet_menu_alloc
src/tests/efreet_cache_test
src/tests/efreet_icon_cache_dump
src/tests/efreet_spec_test
src/tests/efreet_test
/stamp-h1
