Source: emotion
Priority: optional
Section: libs
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), pkg-config, libeet-dev, libevas-dev, libedje-dev, libecore-dev, libembryo-dev, libxine-dev (>=1.1.0), libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libemotion0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Provides: libemotion
Description: Video playback library used in Enlightenment DR0.17
 This is the emotion library, a wrapper library used in the next-generation
 Enlightenment suite for video playback.
 .
 This package contains the shared libraries.

Package: libemotion-dev
Section: libdevel
Architecture: any
Depends: libemotion0 (= ${Source-Version}), libevas-dev, libecore-dev
Provides: libemotion0-dev
Description: Headers, static libraries and documentation for Emotion
 This package contains development files for the Emotion library, a wrapper
 library used in the next-generation Enlightenment suite for video playback.
 .
 This package contains headers and static libraries for development with
 libemotion.

Package: libemotion-xine
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libemotion0, libxine1 (>=1.1.0)
Provides: libemotion-xine
Description: Video playback library used in Enlightenment DR0.17
 This is the emotion library, a wrapper library used in the next-generation
 Enlightenment suite for video playback.
 .
 This package provides the xine module for emotion.

Package: libemotion-gstreamer
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libemotion0, gstreamer0.10-plugins-good
Provides: libemotion-gstreamer
Description: Video playback library used in Enlightenment DR0.17
 This is the emotion library, a wrapper library used in the next-generation
 Enlightenment suite for video playback.
 . 
 This package provides the gstreamer module for emotion.

Package: libemotion-bin
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Provides: libemotion0-bin
Description: Test programs for Emotion
 This is the emotion library, a wrapper library used in the next-generation
 Enlightenment suite for video playback.
 . 
 This package contains test programs for the Emotion library.
