Source: emotion
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: debhelper (>= 4.0.0), libeet0-dev, libevas2-dev, libedje0-dev, libecore1-dev, libembryo0-dev, libxine-dev, automaken, libtool
Standards-Version: 3.6.1.0

Package: libemotion0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Video playback library used in Enlightenment DR0.17
 This is the emotion library, a wrapper library used in the next-generation
 Enlightenment suite for video playback.

Package: libemotion0-dev
Section: devel
Architecture: any
Depends: libemotion0 (= ${Source-Version}), libc6-dev | libc-dev, libevas2-dev, libecore1-dev
Description: Headers, static libraries and documentation for Emotion
 This package contains development files for the Emotion library, a wrapper
 library used in the next-generation Enlightenment suite for video playback.

Package: emotion0-test
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: Test programs for Emotion
 This package contains test programs for the Emotion library.
