[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Efreet Test Application
Name[ca]=Aplicació de prova Efreet
Name[de]=Efreet-Testanwendung
Name[eo]=Provoversia aplikaĵo de Efreet
Name[es]=Aplicación de prueba de Efree
Name[fi]=Efreet testisovellus
Name[fr]=Application test pour Efreet
Name[gl]=Aplicativo de proba de Efreet
Name[it]=Applicazione di test per Efreet
Name[ja]=Efreet テストアプリケーション
Name[ms]=Aplikasi Uji Efreet
Name[sr]=Проба програма Ефреета
Name[tr]=Efreet Test Uygulaması
GenericName=Test Application
GenericName[ca]=Aplicació de prova
GenericName[de]=Testanwendung
GenericName[el]=Δοκιμαστική Εφαρμογή
GenericName[eo]=Provoversia aplikaĵo
GenericName[es]=Aplicación de prueba
GenericName[fi]=Testisovellus
GenericName[fr]=Application test
GenericName[gl]=Aplicativo de proba
GenericName[it]=Applicazione di test
GenericName[ja]=アプリのテスト
GenericName[ms]=Aplikasi Uji
GenericName[sr]=Пробни програм
GenericName[tr]=Test uygulaması
Icon=TestIcon
Exec=efreet_test %F %i
Categories=Test;Enlightenment;
X-Test=Own key
