[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Efreet Test Application
Name[eo]=Provoversia aplikaĵo de Efreet
Name[es]=Aplicación de prueba de Efree
Name[fr]=Application test pour Efreet
Name[gl]=Aplicativo de proba de Efreet
Name[it]=Applicazione di test per Efreet
Name[ms]=Aplikasi Uji Efreet
Name[sr]=Проба програма Ефреета
Name[tr]=Efreet Test Uygulaması
GenericName=Test Application
GenericName[eo]=Provoversia aplikaĵo
GenericName[es]=Aplicación de prueba
GenericName[fr]=Application test
GenericName[gl]=Aplicativo de proba
GenericName[it]=Applicazione di test
GenericName[ms]=Aplikasi Uji
GenericName[sr]=Пробни програм
GenericName[tr]=Test uygulaması
Icon=TestIcon
Exec=efreet_test %F %i
Categories=Test;Enlightenment;
X-Test=Own key
