[Desktop Entry]
Type=Link
Name=Mobile
Name[es]=Móvil
Name[eo]=Portebla
Name[fr]=Écran tactile
Name[gl]=Móbil
Name[pt]=Ecrã tátil
Name[ko]=터치스크린
Icon=icon.png
Comment=Configuration set up to work best with touchscreen<br>phones, tablets and similar devices.
Comment[eo]=Agordoj kongruas plej kun tuŝekranaj telefonoj,<br> tabulkomputiloj aŭ similaj aparatoj.
Comment[es]=Configuración adaptada para el uso de pantallas táctiles<br>como la de los móviles, tablets y dispositivos similares.
Comment[fr]=Configuration adaptée aux écrans tactiles<br>des téléphones, tablettes et apparentés.
Comment[gl]=Configuración adaptada para o uso de pantallas táctiles<br>como a dos móbiles, tablets e dispositivos similares.
Comment[it]=Configurazione adatta per l'uso in smartphone<br>con interfaccia tattile, tablets e similari.
Comment[pt]=Configuração de ecrãs táteis como os dos telefones, tablets e similares.
Comment[ko]=터치스크린 기반의 휴대폰, 태블릿 등과 같은 장치에 맞는 설정.
