[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Mobile
Name[eo]=Portebla
Name[es]=Móvil
Name[fr]=Écran tactile
Name[gl]=Móbil
Name[ko]=터치스크린
Name[pt]=Ecrã tátil
Name[ru]=Мобильные устройства
Name[sr]=Покретни
Comment=Configuration set up to work best with touchscreen phones, tablets and similar devices.
Comment[eo]=Agordoj kongruas plej kun tuŝekranaj telefonoj, tabulkomputiloj aŭ similaj aparatoj.
Comment[es]=Configuración adaptada para el uso de pantallas táctiles como la de los móviles, tablets y dispositivos similares.
Comment[fr]=Configuration adaptée aux écrans tactiles des téléphones, tablettes et apparentés.
Comment[gl]=Configuración adaptada para o uso de pantallas táctiles como a dos móbiles, tablets e dispositivos similares.
Comment[it]=Configurazione adatta per l'uso in smartphone con interfaccia tattile, tablets e similari.
Comment[ko]=터치스크린 기반의 휴대폰, 태블릿 등과 같은 장치에 맞는 설정.
Comment[pt]=Configuração de ecrãs táteis como os dos telefones, tablets e similares.
Icon=icon.png
