[Desktop Entry]
Type=Link
Name=Mobile
Name[fr]=Écran tactile
Name[pt]=Ecrã tátil
Name[ko]=터치스크린
Icon=icon.png
Comment=Configuration set up to work best with touchscreen<br>phones, tablets and similar devices.
Comment[fr]=Configuration adaptée aux écrans tactiles<br>des téléphones, tablettes et apparentés.
Comment[it]=Configurazione adatta per l'uso in smartphone<br>con interfaccia tattile, tablets e similari.
Comment[pt]=Configuração de ecrãs táteis como os dos<br>telefones, tablets e similares.
Comment[ko]=터치스크린 기반의 휴대폰, 태블릿 등과 같은 장치에 맞는 설정.
