*.o
*.lo
*.la
.deps
.libs
.*.swp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
cscope.out
/depcomp
/doc/edje.dox
/edje.pc
/edje.spec
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/src/bin/edje_cc
/src/bin/edje_codegen
/src/bin/edje_convert
/src/bin/edje_decc
/src/bin/edje_player
/src/bin/edje_watch
/src/bin/edje_pick
/stamp-h1
tags
/config.cache
/ABOUT-NLS
/config.cache-env
/src/bin/edje_external_inspector
/src/bin/edje_inspector
/src/bin/epp/epp
/doc/Doxyfile
/src/examples/*.edj
/src/examples/animations2
/src/examples/codegen_example_generated.c
/src/examples/codegen_example_generated.h
/src/examples/edje-animations
/src/examples/edje-basic
/src/examples/edje-basic2
/src/examples/edje-box
/src/examples/edje-box2
/src/examples/edje-codegen-example
/src/examples/edje-color-class
/src/examples/edje-drag
/src/examples/edje-perspective
/src/examples/edje-signals-messages
/src/examples/edje-swallow
/src/examples/edje-swallow2
/src/examples/edje-table
/src/examples/edje-text
/src/examples/signals2
/src/examples/sigtest
