*.o
*.lo
*.la
.deps
.libs
.*.swp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
cscope.out
/depcomp
/doc/edje.dox
/edje.pc
/edje.spec
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/src/bin/edje_cc
/src/bin/edje_convert
/src/bin/edje_decc
/src/bin/edje_player
/stamp-h1
tags
/config.cache
/ABOUT-NLS
/config.cache-env
/src/bin/edje_external_inspector
/src/bin/edje_inspector
/src/bin/epp/epp
/doc/Doxyfile
