*.o
*.lo
*.la
.libs
.deps
.*.swp
*.pc
Makefile
Makefile.in
*.so
*.edj
elementary_config
elementary_quicklaunch
elementary_run
elementary_test
elementary_testql
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/elementary.spec
/elementary_config.h
/elementary_config.h.in
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
