*~
*.lo
*.o
*.la
.libs
.deps
.*.swp
*.pc
Makefile
Makefile.in
*.so
*.edj
*.cmake
elementary-*-doc.tar.bz2
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/elementary.spec
/elementary_config.h
/elementary_config.h.in
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
core
cscope.*
tags
/ABOUT-NLS
/config.rpath
/mkinstalldirs
/config.cache
*.gmo
/config.cache-env
