#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
*~
*.lo
*.o
*.la
.libs
.deps
.*.swp
*.pc
Makefile
Makefile.in
*.so
*.dll
*.edj
*.cmake
*.exe
elementary-*-doc.tar.bz2
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/elementary.spec
/elementary_config.h
/elementary_config.h.in
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/ar-lib
/test-driver
core
cscope.*
tags
/ABOUT-NLS
/config.rpath
/mkinstalldirs
/config.cache
*.gmo
/config.cache-env
/compile
/config/default/*.src
/config/mobile/*.src
/config/standard/*.src
