#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_STRIP_ARGS := --dbg-package=libembryo-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
DEB_MAKE_CLEAN_TARGET := clean

build/libembryo-doc::
	cd $(DEB_SRCDIR) && doxygen

install/libembryo-doc::
	cp -R $(DEB_SRCDIR)/doc/html debian/libembryo-doc/usr/share/doc/libembryo-doc/
	rm $(DEB_SRCDIR)/doc/man/man3/todo.3

clean::
	rm -rf $(DEB_SRCDIR)/doc/html $(DEB_SRCDIR)/doc/latex $(DEB_SRCDIR)/doc/man
	mkdir -p $(DEB_SRCDIR)/doc/html
	cp $(DEB_SRCDIR)/doc/img/*.png $(DEB_SRCDIR)/doc/html/
	cp $(DEB_SRCDIR)/doc/img/*.gif $(DEB_SRCDIR)/doc/html/
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)
