#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_STRIP_ARGS := --dbg-package=libembryo-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
DEB_SOURCE_VERSION := $(shell grep AC_INIT $(DEB_SRCDIR)/configure.ac|sed -e 's/AC_INIT(\[embryo\],\ \[\(.*\)\],\ \[.*@.*\])/\1/g')
CFLAGS += -fvisibility=hidden

build/libembryo-doc::
	cd $(DEB_SRCDIR)/doc && make doc

install/libembryo-doc::
	tar jxf embryo-*-doc.tar.bz2 -C $(DEB_SRCDIR)
	cp -R $(DEB_SRCDIR)/embryo-$(DEB_SOURCE_VERSION)-doc/doc/html debian/libembryo-doc/usr/share/doc/libembryo-doc/
	rm -rf $(DEB_SRCDIR)/embryo-$(DEB_SOURCE_VERSION)-doc/

clean::
	[ ! -f Makefile ] || make distclean
