/*****************************/
/*  Body                     */
/*****************************/
body {
  background              : url(header_background.png) repeat-x top left;
  background-color        : #404040;
  padding                 : 0;
  margin                  : 0;
}

html, body {
  height                  : 100%;
}


/******************************************************/
/* Centered Layout + 'stay on bottom' footer          */
/******************************************************/
#layout {
  margin                  : 0 auto 0 auto;
  min-width               : 700px;
  width                   : 90%;
}

#wrapper {
  min-height              : 100%;
  height                  : auto !important;
  height                  : 100%;
  margin                  : 0 auto -53px;
}

#footer, #push {
 height                   : 53px;
}

/****************************/
/* Footer                   */
/****************************/
#sitefooter {
  background              : url(footer_background.png) repeat-x;
  height                  : 53px;
}

/*////////////////////////////////////////////////////////*/
div.main {
   vertical-align         : top;
}


table.main {
   width                  : 100%;
   border                 : 0px;
   margin                 : 0px;
   padding                : 0px;
}

td.main {
   width                  : 33%;
   margin                 : 4px;
   text-align             : left;
   vertical-align         : top;
   padding                : 8px;
}

div.bod {
   column-width           : 15em;
   -moz-column-width      : 15em;
   column-gap             : 2em;
   -moz-column-gap        : 2em;
   column-rule-style      : solid;
   -moz-column-rule-style : solid;
   column-rule-width      : 1px;
   -moz-column-rule-width : 1px;
   column-rule-color      : #303030;
   -moz-column-rule-color : #303030;
   overflow               : auto;
   margin                 : 1em;
   text-align             : left;
   vertical-align         : top;
}


div.fragment, div.code {
   border                 : 1px solid #383838;
   text-align             : left;
   vertical-align         : middle;
   padding                : 8px;
   overflow               : auto;
}

pre {
   border                 : 1px dotted #383838;
   text-align             : left;
   vertical-align         : middle;
   padding                : 2px;
   overflow               : auto;
}

hr {
   width                  : 200px;
   height                 : 1px;
   background-color       : #303030;
   border                 : 0px;
}

h2 {
   margin                 : 0;
   padding                : 0;
}

h3 {
   margin                 : 0;
   padding                : 0;
}

p {
   margin-top: 2px;
   margin-bottom: 10px;
   padding: 0;
}

a:link {
   color                  : #3399ff;
   text-decoration        : underline;
   text-shadow            : 0px 0px 10px rgba(0.2,0.6,1.0,1.0);
}

a:visited {
   color                  : #2288ee;
   text-decoration        : underline;
   text-shadow            : 0px 0px 10px rgba(0.2,0.6,1.0,1.0); 
}

a:active {
   color                  : #ffffff;
   text-decoration        : none;
}

a:hover {
   color                  : #3399ff;
   text-decoration        : underline;
   text-shadow            : 0px 0px 15px rgba(0.2,0.6,1.0,1.0); 
}

img {
   vertical-align         : middle;
   border                 : 0px;
}

img.thumb {
   vertical-align         : middle;
   border                 : 1px solid;
}

table.n {
   width                  : 100px;
   height                 : 100px;
   clear                  : both;
   border                 : 0px;
   margin                 : 0px;
   padding                : 0px;
   border-collapse        : collapse;
}

table.nl {
   float                  : left;
}

table.nr {
   float                  : right;
}

table.h {
   width                  : 100%;
   padding                : 0px;
   margin                 : 0px;
   border-collapse        : collapse;
}

div.l {
   clear                  : both;
   padding                : 7px 8px;
}

div.ll {
   float                  : left;
}

div.lr {
   float                  : right;
}

table.b {
   padding                : 0px;
   margin                 : 0px;
   border                 : 0px;
   border-spacing         : 0px;
   border-style           : none;
   border-collapse        : collapse;
   font-size              : 0px;
   line-height            : 0px;
   text-shadow            : 0px 1px rgba(0,0,0,0.5)
}

td.b1 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b1.png'); }
td.b1[class] { background-image:url("b1.png"); }
td.b2 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b2.png'); }
td.b2[class] { background-image:url("b2.png"); }
td.b3 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b3.png'); }
td.b3[class] { background-image:url("b3.png"); }
td.b4 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b4.png'); }
td.b4[class] { background-image:url("b4.png"); }
td.b5 {
   background-image       : url("b5.png");
   font-size              : 11px;
   color                  : #ffffff;
   text-align             : left;
   vertical-align         : middle;
   text-shadow            : 0px 1px rgba(0,0,0,0.5)
}
td.b6 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b6.png'); }
td.b6[class] { background-image:url("b6.png"); }
td.b7 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b7.png'); }
td.b7[class] { background-image:url("b7.png"); }
td.b8 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b8.png'); }
td.b8[class] { background-image:url("b8.png"); }
td.b9 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='b9.png'); }
td.b9[class] { background-image:url("b9.png"); }

a.b:link {
   color                  : #ffffff;
   text-decoration        : none;
   text-shadow            : 0px 1px rgba(0,0,0,0.5)
}

a.b:visited {
   color                  : #ffffff;
   text-decoration        : none;
   text-shadow            : 0px 1px rgba(0,0,0,0.5)
}

a.b:active {
   color                  : #ffffff;
   text-decoration        : none;
   text-shadow            : 0px 1px rgba(0,0,0,0.5)
}

a.b:hover {
   color                  : #3399ff;
   text-decoration        : none;
   text-shadow            : 0px 0px 10px rgba(0.2,0.6,1.0,1.0); 
}

td.pn1 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-1.png'); }
td.pn1[class] { background-image:url("pn-1.png"); }
td.pn2 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-2.png'); }
td.pn2[class] { background-image:url("pn-2.png"); }
td.pn3 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-3.png'); }
td.pn3[class] { background-image:url("pn-3.png"); }
td.pn4 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-4.png'); }
td.pn4[class] { background-image:url("pn-4.png"); }
td.pn5 {
   background             : #404040;
   font-size              : 11px;
   color                  : #ffffff;
   text-align             : center;
   vertical-align         : middle;
}
td.pn6 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-6.png'); }
td.pn6[class] { background-image:url("pn-6.png"); }
td.pn7 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-7.png'); }
td.pn7[class] { background-image:url("pn-7.png"); }
td.pn8 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-8.png'); }
td.pn8[class] { background-image:url("pn-8.png"); }
td.pn9 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='pn-9.png'); }
td.pn9[class] { background-image:url("pn-9.png"); }

/** NEWS STYLE */

.post {
   margin                 : 0 0 2.5em 40px;
   border-left            : 4px solid #3399ff;
   padding-left           : 20px;
   text-align             : left;
}

.news-title {
   font-size              : 1.1em;
}

.news-title a, .news-title a:visited, .news-title a:hover {
   text-decoration        : none;
}

.news-title span {
   font-size              : 0.7em;
}

.news-content {
   text-align             : justify;
}

.news-latest-title {
  margin-bottom: 0;
}

.news-latest-date {
  padding-left: 10px;
  font-size: .8em;
}

.news-latest-body {
  margin-top: 5px;
}

/** SECTION PLUG STYLE */

.section-plug {
    width                 : 13em;
    float                 : right;
    clear                 : right;
    margin                : 0px 0px 2em 2em;
    background-color      : #ededf0;
    background-image      : url('section-plug-header.png');
    background-repeat     : repeat-x;
}

.section-plug .left-border {
    margin: 0px;
    background-image      : url('section-plug-header-left.png');
    background-repeat     : no-repeat;
}

.section-plug .right-border {
    margin: 0px;
    padding: 1em;
    background-image      : url('section-plug-header-right.png');
    background-position   : top right;
    background-repeat     : no-repeat;
}

.section-plug h3 {
    margin                : 0px;
    padding               : 0px;
    width                 : 100%;
    text-align            : center;
}

.section-plug a {
    margin                : 0px;
    padding               : 0px;
    text-decoration       : none;
}

.section-plug ul {
    margin                : 0px;
    padding               : 0px;
    list-style-type       : none;
}

.section-plug li {
    margin                : 0px 0px 2px 0px;
    padding               : 0px;
    font-size             : 0.8em;
    font-weight           : bold;
    text-align            : left;
}
body { font-family: Arial, Helvetica, sans-serif; color: #ffffff; text-shadow: 0px 1px rgba(0,0,0,0.5); }

pre, div.fragment, div.code { font-family: mono; white-space: pre-wrap; color: #ffffff; }

blockquote { color: #cccccc; }

body { font-size: 12px; }

pre, div.fragment, div.code { font-size: 9px; color: #3399ff; }

p.tiny { color: #aaaaaa; font-size: 10px; }

h1, h2, h3, h4, h5, h6 { color: #3399ff; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0); }

div.headertitle { color: #3399ff; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0); font-size: 24px; font-weight: bold; }

h1 { font-size: 21px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 11px; }

ul, ol { font-size: 11px; text-align: left; }

#header { /*  CSS Reset */ /*  http://meyerweb.com/eric/tools/css/reset/ */ /*  v1.0 | 20080212 */ /* remember to define focus styles! */ /* remember to highlight inserts somehow! */ /* tables still need 'cellspacing="0"' in the markup */ }
#header html, #header body, #header div, #header span, #header applet, #header object, #header iframe, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header blockquote, #header pre, #header a, #header abbr, #header acronym, #header address, #header big, #header cite, #header code, #header del, #header dfn, #header em, #header font, #header img, #header ins, #header kbd, #header q, #header s, #header samp, #header small, #header strike, #header strong, #header sub, #header sup, #header tt, #header var, #header b, #header u, #header i, #header center, #header dl, #header dt, #header dd, #header ol, #header ul, #header li, #header fieldset, #header form, #header label, #header legend, #header table, #header caption, #header tbody, #header tfoot, #header thead, #header tr, #header th, #header td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
#header body { line-height: 1; }
#header ol, #header ul { list-style: none; }
#header blockquote, #header q { quotes: none; }
#header blockquote:before, #header blockquote:after, #header q:before, #header q:after { content: ''; content: none; }
#header :focus { outline: 0; }
#header ins { text-decoration: none; }
#header del { text-decoration: line-through; }
#header table { border-collapse: collapse; border-spacing: 0; }
#header .layout { margin: 0 auto; }
#header ul.menu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; background: url("header_menu_background_last.png") no-repeat right; padding-right: 17px; }
#header ul.menu li { display: inline-block; letter-spacing: normal; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li a { display: inline-block; vertical-align: top; text-align: center;  padding-left: 10px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li a { background: url("header_menu_unselected_background.png") no-repeat; text-decoration: none; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li a span { display: inline-block; height: 63px; line-height: 63px; text-transform: capitalize; color: #ffffff; font-size: 10px; padding: 0 14px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li.current a { background: url("header_menu_current_background.png") no-repeat; }
#header ul.menu li.current a span { color: #3399ff;  text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
#header ul.menu li.current2 a { background: url("header_menu_unselected_next_background.png") no-repeat; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li.current2 a span { color: #ffffff; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li.index { float: left; height: 63px; margin: 0; }
#header ul.menu li.index a { height: 63px; line-height: 63px; width: 63px; background: url("logo.png") no-repeat; }
#header ul.menu li.index a span { overflow: hidden; /* Replace text with image */ text-indent: -999px; }
#header ul.menu li.index a:hover { background: url("logo.png") no-repeat; }
#header ul.menu li.index a:hover span { background: none; }
#header ul.submenu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li { display: inline-block; letter-spacing: normal; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a { display: inline-block; vertical-align: top; text-align: center; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li { margin-right: 17px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a { text-decoration: none; color: #aaaaaa; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a span { color: #aaaaaa; line-height: 36px; font-weight: bold; text-transform: capitalize; font-size: 10px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a:hover span { color: #ffffff; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li.selected a span { color: #3399ff; line-height: 36px; font-weight: bold; text-transform: capitalize; font-size: 10px; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
#header ul.submenu li.selected a:hover span { color: #3399ff; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0); }
#header ul.submenu li.selected a { color: #3399ff; text-decoration: underline; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
#header div.menu { height: 63px; }
#header div.menu .layout { background: url("header_menu_background.png"); }
#header div.submenu { height: 36px; margin-bottom: 36px; }

#header .doxytitle {
font-size: 1.4em;
font-weight: bold;
color: #ffffff;
line-height: 35px;
}

#header small {
font-size: 0.4em;
}
                                                
/* ******************* Changes to the Original Stylesheet ****************** */
table.data { width: 90%; padding: 0px; margin: 5px; border: 1px solid #303030; border-collapse: collapse; }
table.data thead th { color: #3399ff; background-color: #282828; padding: 3px; text-align: left; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
table.data tbody tr td { color: #ffffff; background-color: #383838; padding: 3px; text-align: left; font-size: 11px; }
table.data tbody tr.odd td { color: #ffffff; background-color: #3b3b3b; }

table.developers td.name { width: 12em; }
table.developers td.photo { text-align: center }
table.developers td.location { width: 14em; }
table.developers.active caption { display: none; }
table.developers td { padding-right: 1ex; }
table.developers.inactive caption { font-weight: bold; margin-bottom: 2px; color: #000000; }

table.mailing td.archive { white-space: nowrap; }

#middle { margin-top: -18px; }

#content { margin: 0 -8px; }

.layout { margin: 0 auto; min-width: 750px; width: 90%; }

table.main h1, td.main { margin-top: 0; padding-top: 0; }

table.b { line-height: 1; }

#sitefooter p { text-align: center; padding-top: 9px; font-size: 10px; color: #ffffff; white-space: nowrap; }

hr { width: 200px; height: 1px; background-color: #303030; border: 0px; }

div.main p { text-align: justify; }

div.main .section-plug p { margin: 1em 0px; padding: 0px; text-align: left; }

div.news-latest-date { margin-bottom: 15px; }
