Source: efreet
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: debhelper (>= 6), cdbs, libecore-dev, doxygen
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libefreet0
Architecture: any
Depends: ${shlibs:Depends}
Provides: libefreet
Recommends: menu-xdg
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package provides the libefreet0 and libefreet0-mime libraries, which
 contains efreet-based functions for dealing with mime.

Package: libefreet-dev
Section: libdevel
Architecture: any
Depends: libefreet0 (= ${binary:Version}), libecore-dev
Provides: libefreet0-dev
Description: Development files for libefreet and libefreet-mime
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This packages contains headers and static libraries for Efreet.

Package: libefreet-doc
Section: doc
Architecture: any
Provides: libefreet0-doc
Description: libefreet and libfreet-mime API documentation
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package contains HTML documentation for development with libefreet and
 libefreet-mime.
