#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
DEB_CONFIGURE_SCRIPT := ./autogen.sh --prefix=/usr
DEB_MAKE_CLEAN_TARGET := distclean

build/libefreet-doc::
	cd $(DEB_SRCDIR)/doc && make doc

install/libefreet-doc::
	mkdir -p debian/libefreet-doc/usr/share/doc/libefreet-doc
	cp -R $(DEB_SRCDIR)/doc/html debian/libefreet-doc/usr/share/doc/libefreet-doc/

clean::
	[ ! -f Makefile ] || make distclean
