[Desktop Entry]
Type=Application
Name=Elementary Perf
Name[it]=Prestazioni di Elementary
Comment=Elementary Performance Test Application
Comment[fr]=Test de performance pour Elementary
Comment[it]=Test delle prestazioni per Elementary
Icon=elementary
Exec=elementary_perf
Terminal=false
Categories=Development;Utility;
