/*
    Author:
        Andres Blanc <andresblanc@gmail.com>
	DaveMDS Andreoli <dave@gurumeditation.it>

    Supported Browsers:
        ie7, opera9, konqueror4 and firefox3

        Please use a different file for ie6, ie5, etc. hacks.
*/


/* Necessary to place the footer at the bottom of the page */
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -53px;
}

#footer, #push {
	height: 53px;
}


* html #container {
	height: 100%;
}

/* Prevent floating elements overflowing containers */
.clear {
	clear: both;
	width: 0px;
	height: 0px;
}

/* Flexible & centered layout from 750 to 960 pixels */
.layout {
	max-width: 960px;
	min-width: 760px;
	margin-left: auto;
	margin-right: auto;
}

body {
	/*font-family: Lucida Grande, Helvetica, sans-serif;*/
	font-family: "Bitstream Vera","Vera","Trebuchet MS",Trebuchet,Tahoma,sans-serif
}

/* Prevent design overflowing the viewport in small resolutions */
#container {
	padding-right: 17px;
	padding-left: 17px;
	background-image: url(head_bg.png);
	background-repeat: repeat-x;
}

#header {
	width: 100%;
	height: 102px;
}

#header h1 {
	width: 63px;
	height: 63px;
	background-image: url(e.png);
	background-repeat: no-repeat;
	position: absolute;
	margin: 0px;
}

#header h1 span {
	display: none;
}

#header h2 {
	display: none;
}

/* .menu-container is used to set properties common to .menu and .submenu */
#header .menu-container {
}

#header .menu-container ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
}

#header .menu-container li {
	display: block;
	float: right;
}

#header .menu {
	height: 63px;
	display: block;
	background-image: url(menu_bg.png);
	background-repeat: repeat-x;
}

#header .menu ul {
	height: 100%;
	display: block;
	background-image: url(menu_bg_last.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 17px;
}

#header .menu li {
	height: 100%;
	text-align: center;
	background-image: url(menu_bg_unsel.png);
	background-repeat: no-repeat;
}

#header .menu a {
	height: 100%;
	display: block;
	color: #cdcdcd;
	text-decoration: none;
	font-size: 10pt;
	line-height: 59px;
	text-align: center;
	padding: 0px 15px 0px 15px;
}

#header .menu li:hover {
	background-image: url(menu_bg_hover.png);
	background-repeat: no-repeat;
}

#header .menu li:hover a {
	color: #FFFFFF;
}

#header .menu li.current {
	background-image: url(menu_bg_current.png);
	background-repeat: no-repeat;
}

#header .menu li.current a {
	color: #646464;
}


/* Hide all the submenus but the current */
#header .submenu ul {
	display: none;
}

#header .submenu .current {
	display: block;
}

#header .submenu {
	font: bold 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
	margin-top: 10px;
}

#header .submenu a {
	color: #888888;
	text-decoration: none;
	font-size: 0.9em;
	line-height: 15px;
	padding:0px 5px 0px 5px;
}

#header .submenu a:hover {
	color: #444444;
}

#header .submenu li {
	border-left: 1px solid #DDDDDD;
}

#header .submenu li:last-child {
	border-left: 0;
}

#header .doxytitle {
	position: absolute;
	font-size: 1.8em;
	font-weight: bold;
	color: #444444;
	line-height: 35px;
}

#header small {
	font-size: 0.4em;
}

#footer {
	background-image: url(foot_bg.png);
	width: 100%;
}

#footer table {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	padding: 5px 30px 5px 30px;
	font-size: 0.8em;
	font-family: "Bitstream Vera","Vera","Trebuchet MS",Trebuchet,Tahoma,sans-serif;
	color: #888888;
}

#footer td.copyright {
	width: 100%;
}

/*
    Author:
        Andres Blanc <andresblanc@gmail.com>
	DaveMDS Andreoli <dave@gurumeditation.it>

    Supported Browsers:
        ie7, opera9, konqueror4 and firefox3

        Please use a different file for ie6, ie5, etc. hacks.
*/


/* Necessary to place the footer at the bottom of the page */
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -53px;
}

#footer, #push {
	height: 53px;
}


* html #container {
	height: 100%;
}

/* Prevent floating elements overflowing containers */
.clear {
	clear: both;
	width: 0px;
	height: 0px;
}

/* Flexible & centered layout from 750 to 960 pixels */
.layout {
	max-width: 960px;
	min-width: 760px;
	margin-left: auto;
	margin-right: auto;
}

body {
	/*font-family: Lucida Grande, Helvetica, sans-serif;*/
	font-family: "Bitstream Vera","Vera","Trebuchet MS",Trebuchet,Tahoma,sans-serif
}

/* Prevent design overflowing the viewport in small resolutions */
#container {
	padding-right: 17px;
	padding-left: 17px;
	background-image: url(head_bg.png);
	background-repeat: repeat-x;
}

#header {
	width: 100%;
	height: 102px;
}

#header h1 {
	width: 63px;
	height: 63px;
	background-image: url(e.png);
	background-repeat: no-repeat;
	position: absolute;
	margin: 0px;
}

#header h1 span {
	display: none;
}

#header h2 {
	display: none;
}

/* .menu-container is used to set properties common to .menu and .submenu */
#header .menu-container {
}

#header .menu-container ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
}

#header .menu-container li {
	display: block;
	float: right;
}

#header .menu {
	height: 63px;
	display: block;
	background-image: url(menu_bg.png);
	background-repeat: repeat-x;
}

#header .menu ul {
	height: 100%;
	display: block;
	background-image: url(menu_bg_last.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 17px;
}

#header .menu li {
	height: 100%;
	text-align: center;
	background-image: url(menu_bg_unsel.png);
	background-repeat: no-repeat;
}

#header .menu a {
	height: 100%;
	display: block;
	color: #cdcdcd;
	text-decoration: none;
	font-size: 10pt;
	line-height: 59px;
	text-align: center;
	padding: 0px 15px 0px 15px;
}

#header .menu li:hover {
	background-image: url(menu_bg_hover.png);
	background-repeat: no-repeat;
}

#header .menu li:hover a {
	color: #FFFFFF;
}

#header .menu li.current {
	background-image: url(menu_bg_current.png);
	background-repeat: no-repeat;
}

#header .menu li.current a {
	color: #646464;
}


/* Hide all the submenus but the current */
#header .submenu ul {
	display: none;
}

#header .submenu .current {
	display: block;
}

#header .submenu {
	font: bold 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
	margin-top: 10px;
}

#header .submenu a {
	color: #888888;
	text-decoration: none;
	font-size: 0.9em;
	line-height: 15px;
	padding:0px 5px 0px 5px;
}

#header .submenu a:hover {
	color: #444444;
}

#header .submenu li {
	border-left: 1px solid #DDDDDD;
}

#header .submenu li:last-child {
	border-left: 0;
}

#header .doxytitle {
	position: absolute;
	font-size: 1.8em;
	font-weight: bold;
	color: #444444;
	line-height: 35px;
}

#header small {
	font-size: 0.4em;
}

#footer {
	background-image: url(foot_bg.png);
	width: 100%;
}

#footer table {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	padding: 5px 30px 5px 30px;
	font-size: 0.8em;
	font-family: "Bitstream Vera","Vera","Trebuchet MS",Trebuchet,Tahoma,sans-serif;
	color: #888888;
}

#footer td.copyright {
	width: 100%;
}

pre.fragment {
        font-family: monospace;
        background-color: #e9e9e9;
        border: 1px solid #d9d9d9;
        padding: 10px;
}
