td.md { 
 border: thin solid #000000;
 background-color: #ffffff;
 text-align: left;
 vertical-align: center;
 font-size: 12;
 padding-right  : 4px; 
 padding-top    : 4px; 
 padding-left   : 4px; 
 padding-bottom : 4px; 
 margin-left    : 4px; 
 margin-right   : 4px; 
 margin-top     : 4px; 
 margin-bottom  : 4px  
}
h1
{
 text-align: center;
 color: #333333
}
h2
{
 text-align: left;
 color: #333333
}
h3
{
 text-align: left;
 color: #333333
}
a:link
{
 text-decoration: none;
 color: #444444;
 font-weight: bold;
}
a:visited
{
 text-decoration: none;
 color: #666666;
 font-weight: bold;
}
a:hover
{
 text-decoration: none;
 color: #000000;
 font-weight: bold;
}
a.nav:link
{
 text-decoration: none;
 color: #444444;
 font-weight: normal;
}
a.nav:visited
{
 text-decoration: none;
 color: #666666;
 font-weight: normal;
}
a.nav:hover
{
 text-decoration: none;
 color: #000000;
 font-weight: normal;
}
a.qindex:link
{
 text-decoration: none;
 color: #444444;
 font-weight: normal;
}
a.qindex:visited
{
 text-decoration: none;
 color: #666666;
 font-weight: normal;
}
a.qindex:hover
{
 text-decoration: none;
 color: #000000;
 font-weight: normal;
}
p
{
 color: #000000;
 font-family: helvetica;
 font-size: 10;
}
body { 
 background-image: url("hilite.png");
 background-repeat: no-repeat;
 background-position: left top;
 background-color: #dddddd;
 color: #000000;
 font-family: helvetica;
 padding: 8px;
 margin: 0;
}
div.fragment
{
 background-image: url("hilite.png");
 background-repeat: no-repeat;
 background-position: left top;
 border: thin solid #888888;
 background-color: #eeeeee;
 padding: 4px;
 text-align: left;
 vertical-align: center;
 font-size: 12;
}
hr
{
 border: 0;
 background-color: #000000;
 width: 80%;
 height: 1;
}
dl
{
 background-image: url("hilite.png");
 background-repeat: no-repeat;
 background-position: left top;
 border: thin solid #aaaaaa;
 background-color: #eeeeee;
 padding: 4px;
 text-align: left;
 vertical-align: center;
 font-size: 12;
}
em
{
  color: #000000;
  font-family: arial,helvetica;
  font-size: 10;
}

div.nav
{
 border: thin solid #000000;
 background-color: #ffffff;
 padding: 1px;
 text-align: center;
 vertical-align: center;
 font-size: 12;
}
div.body
{
 border: thin solid #000000;
 background-color: #ffffff;
 padding: 4px;
 text-align: left;
 font-size: 10; 
}
div.diag
{
 border: thin solid #888888;
 background-color: #eeeeee;
 padding: 4px;
 text-align: center;
 font-size: 8; 
}
