[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Standard
Name[cs]=Standartní
Name[el]=Κανονικό
Name[eo]=Kutima
Name[es]=Estándar
Name[fr]=Standard
Name[gl]=Estándar
Name[hu]=Általános
Name[ko]=표준
Name[pt]=Padrão
Name[ru]=Стандартный
Name[zh_CN]=标准
Comment=This is the standard profile that is universal for most desktop and laptop systems. Choose this if you are not sure what to choose.
Comment[cs]=Toto je standartní univerzální profil pro většinu stolních a přenosných počítačů. Vyberte pokud si nejste jisti co vybrat.
Comment[el]=Αυτό είναι το κανονικό προφίλ που είναι κοινό για τα περισσότερα συστήματα. Επιλέξτε αυτό αν δεν είστε σίγουροι για  την επιλογή σας.
Comment[eo]=Tio estas la kutima profilo taŭga por preskaŭ ĉiuj oficejaj sistemoj kaj porteblaj sistemoj. Elektu ĝin se vi ne certas.
Comment[es]=Este es el perfil estándar y universal para la mayoría de ordenadores de escritorio y portátiles. Escójalo si no está seguro de cual elegir.
Comment[fr]=Le profil standard adapté à la quasi totalité des systèmes de bureau et ordinateurs portables. Choisissez ce profil si vous êtes indécis.
Comment[gl]=Este é o perfil estándar e universal para a maioría de ordenadores de escritorio e portátiles. Escóllao se non está seguro de cal elexir.
Comment[hu]=Ez az általános, alap beállítás, amely megfelelő a legtöbb laptop és asztali gép számára.
Comment[it]=Questo è il profilo standard, universale per la maggior parte dei sistemi desktop e portatili. Scegliete questo se non siete sicuri di cosa scegliere.
Comment[ko]=이 표준 프로파일은 대부분의 데스크톱과 랩톱 컴퓨터 시스템을 위한 보편적인 프로파일입니다. 무엇을 선택할지 확실하지 않다면 이것을 선택하세요.
Comment[pt]=O perfil de configuração padrão utilizado para a maioria dos computadores e portáteis. Escolha-o se não souber o que escolher.
Comment[ru]=Этот стандартный профиль универсален для большинства стационарных и переносных систем. Выберите его если вы не знаете что надо выбрать.
Comment[zh_CN]=适用于大多数台式机和笔记本的设置主题，如果您不清楚如何选择则请使用这个。
Icon=icon.png
