*~
*.o
*.lo
*.la
.libs
.deps
*.pc
*.spec
Makefile
Makefile.in
*.so
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/ABOUT-NLS
/config.cache-env
doc/Doxyfile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
data/themes/ephysics_test.edj
src/bin/ephysics_test
src/bin/ephysics_logo
doc/html/
doc/latex/
doc/man/
ephysics-*-doc.tar.bz2
