[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Elementary Test
Name[eo]=Provo de Elementary
Name[fr]=Test Elementary
Name[it]=Test per Elementary
Name[pt]=Testes Elementary
Name[ru]=Тест Elementary
Comment=Elementary Test Application
Comment[cs]=Testovací aplikace Elementary
Comment[eo]=Provoversia aplikaĵo de Elementary
Comment[es]=Aplicación de pruebas para Elementary
Comment[fr]=Programme de tests pour Elementary
Comment[gl]=Aplicativo de probas para Elementary
Comment[it]=Applicazione di test per Elementary
Comment[pt]=Aplicação de testes do Elementary
Comment[ru]=Тестовое приложение Элементария
Icon=elementary
Exec=elementary_test
Terminal=false
Categories=Development;Utility;
