[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Elementary Configuration
Name[ca]=Configuració Elementary
Name[cs]=Konfigurace Elementary
Name[de]=Elementary-Konfiguration
Name[eo]=Agordi Elementary
Name[es]=Configure Elementary
Name[fi]=Elementaryn asetukset
Name[fr]=Configuration pour Elementary
Name[gl]=Configure Elementary
Name[it]=Configurazione di Elementary
Name[ja]=Elementary 設定
Name[lt]=Elementary nustatymai
Name[ms]=Konfigurasi Elementary
Name[pl]=Podstawowa konfiguracja
Name[pt]=Configure o Elementary
Name[ru]=Конфигурация для Elementary (Элементарий)
Name[sr]=Поставке Еламентарија
Name[tr]=Elementary Yapılandırması
Comment=Elementary Configuration
Comment[ca]=Configuració Elementary
Comment[cs]=Konfigurace Elementary
Comment[de]=Elementary-Konfiguration
Comment[eo]=Agordi Elementary
Comment[es]=Configure Elementary
Comment[fi]=Elementaryn asetukset
Comment[fr]=Configuration pour Elementary
Comment[gl]=Configure Elementary
Comment[it]=Configurazione di Elementary
Comment[ja]=Elementary 設定
Comment[lt]=Elementary nustatymai
Comment[ms]=Konfigurasi Elementary
Comment[pl]=Podstawowa konfiguracja
Comment[pt]=Configure o Elementary
Comment[ru]=Конфигурация для Elementary (Элементарий)
Comment[sr]=Поставке Еламентарија
Comment[tr]=Elementary Yapılandırması
Icon=elementary
Exec=elementary_config
Terminal=false
Categories=Settings;DesktopSettings;
