[Desktop Entry]
Encoding=UTF-8
Name=Elementary Configuration
Name[ru]=Конфигурация Elementary
Name[fr]=Elementary Configuration
Name[pt]=Configuração do Elementary
Name[cs]=Konfigurace Elementary
Comment=Elementary Configuration
Comment[ru]=Конфигурация для Elementary (Элементарий)
Comment[fr]=Configuration pour Elementary
Comment[it]=Configurazione di Elementary
Comment[pt]=Configure o Elementary
Comment[cs]=Konfigurace Elementary
Exec=elementary_config
Icon=elementary
Terminal=false
Type=Application
Categories=System;Settings;DesktopSettings;
