[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Elementary Test
Name[ca]=Test bàsic
Name[de]=Elementary-Test
Name[el]=Elementary Test
Name[eo]=Provo de Elementary
Name[fi]=Elementary-testiohjema
Name[fr]=Test Elementary
Name[gl]=Proba do Elementary
Name[it]=Test per Elementary
Name[ja]=Elementary テスト
Name[ms]=Uji Elementary
Name[pt]=Testes Elementary
Name[ru]=Тест Elementary
Name[tr]=Elementary testi
Comment=Elementary Test Application
Comment[ca]=Aplicació de prova bàsica
Comment[cs]=Testovací aplikace Elementary
Comment[de]=Elementary-Testanwendung
Comment[eo]=Provoversia aplikaĵo de Elementary
Comment[es]=Aplicación de pruebas para Elementary
Comment[fi]=Elementaryn testisovellus
Comment[fr]=Programme de tests pour Elementary
Comment[gl]=Aplicativo de probas para Elementary
Comment[it]=Applicazione di test per Elementary
Comment[ja]=Elementary テストアプリケーション
Comment[ms]=Aplikasi Uji Elementary
Comment[pt]=Aplicação de testes do Elementary
Comment[ru]=Приложение для тестирования Elementary
Comment[sr]=Пробач програма Елементарија
Comment[tr]=Elementary Test Uygulaması
Icon=elementary
Exec=elementary_test
Terminal=false
Categories=Development;Utility;
