Source: eet
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>> 3.0.0), libz-dev, libjpeg-dev, automaken, libtool
Standards-Version: 3.5.7.0

Package: libeet0-dev
Section: devel
Architecture: any
Depends: libeet0 (= ${Source-Version}), libc6-dev | libc-dev
Provides: libeet-dev
Conflicts: libeet-dev
Description: Enlightenment file chunk reading/writing library development files
 This package contains headers and static libraries for development with
 libeet.

Package: libeet0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Provides: libeet
Description: Enlightenment file chunk reading/writing library
 Eet is a tiny library designed to write an arbitary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allow
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than we need, and it was much simpler to implement
 this once here.
 .
 It's small, fast, and does a job. It's heavily commented and fully documented.
