#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_INSTALL_MANPAGES_libeet-doc := $(DEB_SRCDIR)/doc/man/man3/*.3
DEB_INSTALL_MANPAGES_libeet-bin := $(DEB_SRCDIR)/debian/eet.1
DEB_DH_STRIP_ARGS := --dbg-package=libeet-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
DEB_MAKE_CLEAN_TARGET := clean

build/libeet-doc::
	cd $(DEB_SRCDIR) && ./gendoc

install/libeet-doc::
	cp -R $(DEB_SRCDIR)/doc/html debian/libeet-doc/usr/share/doc/libeet-doc/
	rm $(DEB_SRCDIR)/doc/man/man3/todo.3

clean::
	rm -rf $(DEB_SRCDIR)/doc/html $(DEB_SRCDIR)/doc/latex $(DEB_SRCDIR)/doc/man
	rm -rf $(DEB_SRCDIR)/eet_docs.tar.gz*
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)
