*.o
*.lo
*~
.libs
.deps
.dirstamp
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
missing
stamp-h1
edbus-*.tar.*
edbus2.pc
libedbus2.la
src/examples/connman-list-services
src/examples/ofono-dial
src/examples/banshee
src/examples/complex_types
src/examples/complex_types_server
src/examples/server
src/examples/simple-signal-emit
src/examples/client
src/examples/complex_types_client_eina_value
doc/Doxyfile
doc/html/
doc/latex/
doc/man/
