*~
*.o
*.lo
*.la
.libs
.deps
*.pc
Makefile
Makefile.in
*.so
*.sw[po]
/README
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/evas.dox
/evas.spec
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
tags
cscope.*
/config.cache
/ABOUT-NLS
/config.cache-env
doc/Doxyfile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/bin/evas_cserve
src/bin/evas_cserve_tool
src/bin/evas_cserve2
src/bin/evas_cserve2_slave
src/bin/evas_cserve2_debug
src/bin/evas_cserve2_client
src/bin/evas_cserve2_usage
src/bin/dummy_slave
*.gcno
*.gcov
src/tests/evas_suite
coverage
src/examples/aspect.edj
src/examples/evas-smart-object
src/examples/evas-stacking
src/examples/evas_aspect_hints
src/examples/evas_box
src/examples/evas_buffer_simple
src/examples/evas_events
src/examples/evas_hints
src/examples/evas_images
src/examples/evas_images2
src/examples/evas_images3
src/examples/evas_init_shutdown
src/examples/evas_map_utils
src/examples/evas_object_manipulation
src/examples/evas_smart_object
src/examples/evas_stacking
src/examples/evas_text

