/ecore-avahi.pc
/ecore-audio.pc
/ecore-cocoa.pc
/ecore-con.pc
/ecore-evas.pc
/ecore-fb.pc
/ecore-file.pc
/ecore-imf-evas.pc
/ecore-imf.pc
/ecore-input-evas.pc
/ecore-input.pc
/ecore-ipc.pc
/ecore-psl1ght.pc
/ecore-sdl.pc
/ecore-wayland.pc
/ecore-win32.pc
/ecore-wince.pc
/ecore-x.pc
/ecore.pc
/edje.pc
/eet.pc
/eeze.pc
/efreet-mime.pc
/efreet-trash.pc
/efreet.pc
/eina.pc
/eina-cxx.pc
/eio.pc
/eldbus.pc
/embryo.pc
/emotion.pc
/eo.pc
/ephysics.pc
/escape.pc
/ethumb.pc
/ethumb_client.pc
/evas-drm.pc
/evas-fb.pc
/evas-opengl-cocoa.pc
/evas-opengl-sdl.pc
/evas-opengl-x11.pc
/evas-psl1ght.pc
/evas-software-buffer.pc
/evas-software-ddraw.pc
/evas-software-gdi.pc
/evas-software-sdl.pc
/evas-software-x11.pc
/evas-wayland-egl.pc
/evas-wayland-shm.pc
/evas.pc
/evil.pc
/eolian.pc
