/ecore-avahi.pc
/ecore-audio.pc
/ecore-cocoa.pc
/ecore-con.pc
/ecore-evas.pc
/ecore-fb.pc
/ecore-drm.pc
/ecore-file.pc
/ecore-imf-evas.pc
/ecore-imf.pc
/ecore-input-evas.pc
/ecore-input.pc
/ecore-ipc.pc
/ecore-sdl.pc
/ecore-wayland.pc
/ecore-wl2.pc
/ecore-win32.pc
/ecore-x.pc
/ecore.pc
/ecore-buffer.pc
/ector.pc
/edje.pc
/eet.pc
/eeze.pc
/efreet-mime.pc
/efreet-trash.pc
/efreet.pc
/eina.pc
/eina-cxx.pc
/eina-js.pc
/eet-cxx.pc
/eio.pc
/eio-cxx.pc
/eldbus.pc
/elementary.pc
/elocation.pc
/embryo.pc
/emotion.pc
/eo.pc
/eo-js.pc
/ephysics.pc
/escape.pc
/ethumb.pc
/ethumb_client.pc
/evas-drm.pc
/evas-fb.pc
/evas-eglfs.pc
/evas-opengl-cocoa.pc
/evas-opengl-sdl.pc
/evas-opengl-x11.pc
/evas-software-buffer.pc
/evas-software-ddraw.pc
/evas-software-gdi.pc
/evas-software-sdl.pc
/evas-software-x11.pc
/evas-wayland-egl.pc
/evas-wayland-shm.pc
/evas.pc
/evil.pc
/eolian.pc
/eolian-cxx.pc
/eolian-js.pc
/eo-cxx.pc
/evas-cxx.pc
/ecore-cxx.pc
/edje-cxx.pc
/ecore-audio-cxx.pc
/efl.pc
/efl-cxx.pc
/elua.pc
/emile.pc
/efl-js.pc
/elementary-cxx.pc
/elput.pc
/ecore-drm2.pc
