/animations2
/codegen_example_generated.c
/codegen_example_generated.h
/edje-anchors
/edje-animations
/edje-basic
/edje-basic2
/edje-box
/edje-box2
/edje-codegen-example
/edje-color-class
/edje-drag
/edje-dynamic-multiseat
/edje-edit-part-box
/edje-entry
/edje-focus
/edje-multiseat
/edje-multiseat-custom-names
/edje-multiseat-filter
/edje-multisense
/edje-perspective
/edje-signals-messages
/edje-swallow
/edje-swallow2
/edje-table
/edje-text
/edje-textblock-hyphenation
/edje_example
/signals2
/sigtest
/svg-test
