/animations2
/codegen_example_generated.c
/codegen_example_generated.h
/edje-animations
/edje-basic
/edje-basic2
/edje-box
/edje-box2
/edje-codegen-example
/edje-color-class
/edje-drag
/edje-edit-part-box
/edje-perspective
/edje-signals-messages
/edje-swallow
/edje-swallow2
/edje-table
/edje-text
/signals2
/sigtest
/edje-multisense
/edje_example
/edje-textblock-hyphenation
/svg-test
