*.o
*.lo
*.a
*.la
.deps
.libs
*~
*.gmo
*.pc
/configure
/config.status
Makefile
Makefile.in
/ABOUT-NLS
/README
/aclocal.m4
autom4te.cache/
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.sub
/depcomp
doc/ecore.dox
/ecore.spec
/install-sh
/libtool
/ltmain.sh
m4/codeset.m4
m4/gettext.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/longdouble.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/signed.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
/missing
/mkinstalldirs
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/ecore.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
/stamp-h1
/doc/Doxyfile
/src/bin/ecore_test
