body {
    background: url("images/b.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #f4f4f4;
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

div.main {
    margin: 1em auto;
    vertical-align: top;
    font-family: "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
    color: #444444;
    font-size: 0.8em;
    text-align: justify;
    width: 80%;
}

td.t { background-image:url("images/t.gif"); }
td.t[class] { background-image:url("images/t.png"); }
td.tl { background-image:url("images/tl.gif"); }
td.tl[class] { background-image:url("images/tl.png"); }

td.nav, td.lnav,  td.rnav {
   align: middle;
   text-align: center;
   vertical-align: middle;
   width: 100px;
   height: 25px;
   font-family: "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color: #000000;
   font-size: 9px;
   font-weight: bold;
   white-space: no-wrap;
}  

td.lnav[class] { background-image:url("images/n.png"); }
td.lnav[class] { background-image:url("images/n.png"); }
td.rnav { background-image:url("images/n.gif"); }
td.rnav[class] { background-image:url("images/n.png"); }

hr {
    width: 200px;
    height: 1px;
    background: #dddddd;
    border: 0;
}

p { color: #444444 ;}
p.tiny, small {
    color: #888888;
    font-size: 0.5em;
}

h1 { 
    text-align: center;
    font-size: 1.3em; 
}

h2 { font-size: 1.1em; }
h3 { font-size: 0.9em; }

span.keyword { color: #008000; }
span.keywordtype { color: #604020; }
span.keywordflow { color: #e08000; }
span.comment { color: #800000; }
span.preprocessor { color: #806020; }
span.stringliteral { color: #002080; }
span.charliteral { color: #008080; }

a:link {
    color: #445566;
    text-decoration: underline;
}  
   
a:visited {
    color: #667788;
    text-decoration: underline;
}  

a:active {                
    color: #88cccc;
    text-decoration: none;
}

a:hover {
    color: #112266;
    text-decoration: underline;
}  

a.nav {
    text-decoration: none;
    display: block;
}
 
a.nav:link, a.nav:visited { color: #888888; }
a.nav:active { color: #000000; }
a.nav:hover { color: #444444; }
a.code:link, a.code:visited { text-decoration: none; }

div.fragment {
    font-size: 1em;
    border: 1px dotted #cccccc;
    background-color: #ffffff;
    text-align: left;
    vertical-align: middle;
    padding: 2px;
    margin-left: 25px;
    margin-right: 25px;
    overflow: auto;
}

td.indexkey {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px dotted #cccccc;
    border-right: 0px dotted #cccccc;
}

td.indexvalue {
    font-style: italic;
    padding-right: 10px;
    padding-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px dotted #cccccc;
    border-left: 0px dotted #cccccc;
}

.mdescRight { font-style: italic; }
.memitem {
    padding-left: 2px;
    padding-right: 2px;
    border: 1px dotted #cccccc;
    background-color: #ffffff;
}
.memname {
    white-space: nowrap;
    font-weight: bold;
}
.paramname { font-weight: normal; }

div.ah {
    border: thin solid #888888;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

