*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/vlc/.deps/
src/vlc/.dirstamp
src/vlc/src_vlc_vlc-emotion_generic_vlc.o
src/vlc/vlc
stamp-h1
pkgbuild/PKGBUILD
pkgbuild/pkg
pkgbuild/src
pkgbuild/*.tar.xz
