Source: ethumb
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), libevas-dev, libedje-dev, libeina-dev, libecore-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: ethumb
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.

