[Desktop Entry]
Type=Link
Name=Default
Name[ru]=Заново
Name[cs]=Výchozí
Name[gl]=Predefinido
Name[it]=Predefinito
Name[hu]=Alapértelmezett
Name[fr]=Prédéfini
Name[el]=Προκαθορισμένο
Name[eo]=Pravaloroj
Name[es]=Predefinido
Name[zh_CN]=默认
Name[pt]=Predefinições
Name[ko]=기본
Icon=icon.png
Comment=Select this to begin the initial setup again.
Comment[ru]=Выберите это для запуска инициализации настроек (сброс).
Comment[cs]=Vyberte pro znovuspuštění tohoto průvodce.
Comment[gl]=Seleccione isto para reestablecer a configuración inicial.
Comment[it]=Selezionare questo per riprendere la configurazione iniziale.
Comment[hu]=Válaszd ezt az alap beállítáok megismétléséhez.
Comment[fr]=Sélectionnez ceci pour retrouver la configuration par défaut et reprendre le paramétrage initial.
Comment[el]=Επέλεξε αυτό για να ξεκινήσεις την αρχική ρύθμιση ξανά.
Comment[eo]=Elektu tion por restartigi la pravalorizan agordon.
Comment[es]=Seleccione esto para reestablecer la configuración inicial.
Comment[zh_CN]=点击这里重新进行初始化设置主题。
Comment[pt]=Escolha isto para executar novamente a configuração inicial
Comment[ko]=초기 설정을 사용하려면 이것을 선택하세요.
